body{
	background: white;
}
#wrapper {
  padding-top: 10px;
  padding-left: 250px;
  padding-right: 100px;
  transition: all 0.4s ease 0s;
  min-height: 100%;
  width: 100%;
  background: white;
}

/* navbar */
.navbar{
	background: white;
	margin-left: -100px;
	margin-right: 120px;
	left: 200px;
}
.navbar a{
	font-size: small;
}

.navbar li{
	font-size: small;
}
.head_text {
	font-size: small;
	padding-right: 10px; 
}

#logo{
	font-weight: bold;
	color: black;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
/*.navbar-top-links .dropdown-tasks,*/
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

/*.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}*/

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
/*Search Bar*/
/* * Copyright (c) 2012 Thibaut Courouble
 * Licensed under the MIT License
   ================================================== */
a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.main {    
}

.main { margin-top: 5px }

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 200px;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat; /*byt ut mot ikoner*/
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat; /*byt ut mot ikoner*/
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }


/*./Search Bar*/


#autoSuggestionsList > li {
	background: none repeat scroll 0 0 #ffffff;
	border-bottom: 1px solid #E3E3E3;
	list-style: none outside none;
	padding: 3px 15px 3px 15px;
	text-align: left;
    }
#autoSuggestionsList > li a { color: rgb(66,139,202); }
	.auto_list {
	     border: 1px solid #E3E3E3;
	     -webkit-border-bottom-right-radius: 5px;
		 -webkit-border-bottom-left-radius: 5px;
		 -moz-border-radius-bottomright: 5px;
		 -moz-border-radius-bottomleft: 5px;
		 border-bottom-right-radius: 5px;
		 border-bottom-left-radius: 5px;
	     position: absolute;
	     width: 172px;
    }
#search_data{
	width: 100%;
}
#autoSuggestionsListMessage > li {
	background: none repeat scroll 0 0 #ffffff;
	border-bottom: 1px solid #E3E3E3;
	list-style: none outside none;
	padding: 3px 15px 3px 15px;
	text-align: left;
    }
#autoSuggestionsListMessage > li a { color: rgb(66,139,202); }
	.auto_list_message {
	     border: 1px solid #E3E3E3;
	     -webkit-border-bottom-right-radius: 5px;
		 -webkit-border-bottom-left-radius: 5px;
		 -moz-border-radius-bottomright: 5px;
		 -moz-border-radius-bottomleft: 5px;
		 border-bottom-right-radius: 5px;
		 border-bottom-left-radius: 5px;
	     position: absolute;
	     width: 160px;
    }
.advanced-search {
	margin-top: 15px;
}


/* sidebar */
#sidebar-wrapper {
  margin-top: 41px;
  margin-left: -100px;
  left: 200px;
  width: 150px;
  background: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper a{
	font-size: small;
}
#page-content-wrapper {
  margin-top: 60px;
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 38px;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 10px;
}

.sidebar-nav li a {
  color: rgba(0,0,0,1);
  display: block;
  text-decoration: none;
}

/*Custom: colors the hover over sidebar*/
.sidebar-nav li a:hover {
  color: rgba(42,101,151,1);
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}
/* Dashboard Chat */

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}
/* Dashboard Conversation */

.conversation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.conversation li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.conversation li.left .conversation-body {
    margin-left: 0px;
}

.conversation li.right .conversation-body {
    margin-right: px;
}

.conversation li .conversation-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.conversation .glyphicon {
    margin-right: 5px;
}

.conversation-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}
#new_message_input_group{
	padding-top: 5px;
}
.search_result_message{
	color: rgb(66,139,202);
	font-size: small;
}
.form-control-custom{
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	
}
.input-append{
	font-size: 0px;
}

.inset {
  padding: 20px;
}
/*Custom: profile settings form field width*/
.form-settings{
	width: 25%;
}
/*Custom: color error text*/
.text-error{
	color: red;
}
@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

.navbar-header {
    float: left;

.navbar-form {
	float: left;
}


}
#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 200px;
}

#wrapper.active #sidebar-wrapper {
  left: 200px;
  width: 200px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}
footer{
	margin: 50px 0;
	position:relative;
	width: 100%;
	font-size: smaller;
    text-align: center;
	
}
footer a {
   color: #999;
}
footer a:hover {
	color: #999;
	text-decoration: underline;
}