/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: black;
}

.vert-text h1 {
  padding-top: 0px;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}
/*Custom: Removes the blue link color and underline from logo and text*/
.logo_text a {
  color: inherit;
  text-decoration: none;
}
/*Custom: Creates some space between the text and sign buttons*/
.sign_buttons {
  padding: 10px;
}

#info_button {
	padding-top: 50px;
	color: rgb(66,139,177);
	font-size: inherit;
}

/*Custom: Positions the modals a bit more south*/
#sign_in_modal_ {
  margin-top: 170px;
        
}
#sign_up_modal_{
  margin-top: 0px;
  
}
#forgot_password_modal{
  margin-top: 170px;
  
}
/*Custom: Reduces modal width size*/
/*#sign_in_modal .modal-dialog {
  width: 300px;
}*/
/*Custom: Colors field errors in sign in/up red*/
.text-error {
  color: red;
}
#forgot_password{
	font-size: small;
}
/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/back2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
  background: rgba(250,250,250,1);
  color: black;
}

/* Services */

.services {
  background: rgb(66,139,177);
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

.marketing {
	padding: 50px 0;
}

/* Footer */

footer {
  padding: 30px 0;
  background: rgba(76,76,76,1);
}

footer a {
  /*color: #ffffff;*/
}

footer a:hover{
  color: rgba(0,0,0,1);
}

#footer {
   padding: 25px;
   position:relative;
   width: 100%;
   text-align: center;
   color: black;
}
.top-scroll {
 padding: 25px;
}

.top-scroll a {
  text-decoration: none;
  color: rgba(33,32,32,1);
}
/* Responsive */

@media (max-width: 768px) {

  .header {
	background: url(../img/back2.jpg) no-repeat center center scroll;
  }

}

/*Custom:
	I changed the @media settings in the source bootstrap.css to always keep the modal centered when screen size changes.
	Need to test this on small mobile screens somehow.
*/